.JoinPage{
    background: #161616;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.JoinContainer{
    border: 2px solid white;
    height: 50%;
    width: 50%;
}